.features__title {
  color: var(--primary-color);
  line-height: 1.278;
}

.features__subtitle {
  color: rgb(97, 99, 104);
  line-height: 1.625;
}

.features__item {
  display: flex;
  align-items: center;
}

.features__item:not(:last-of-type) {
  padding-bottom: 55px;
}

.features__item:nth-of-type(1) h3 {
  color: rgb(245, 87, 103);
}

.features__item:nth-of-type(2) h3 {
  color: rgb(37, 99, 255);
}

.features__item:nth-of-type(3) h3 {
  color: rgb(64, 151, 95);
}

.features__item p {
  color: rgb(97, 99, 104);
  line-height: 1.625;
  margin-top: 14px;
}

.features__item h3 {
  font-weight: bold;
  line-height: 1;
}

.features__item img {
  padding-right: 34px;
}

@media screen and (max-width: 992px) {
  .features {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .features__title,
  .features__subtitle {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
  }

  .features__subtitle {
    padding-bottom: 60px;
  }

  .features__title {
    font-size: 28px;
  }

  .features__container-item--media {
    padding-top: 80px;
  }

  .features__list {
    max-width: 430px;
  }
}

@media screen and (min-width: 992px) {
  .features {
    padding-top: 217px;
    padding-bottom: 200px;
  }

  .features__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  .features__container-item--media {
    position: relative;
    width: 48.7179487179%;
  }

  .features__img {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    width: 41.56vw;
    max-width: 665px;
  }

  .features__content {
    max-width: 430px;
  }

  .features__title {
    font-size: 36px;
  }

  .features__subtitle {
    padding-bottom: 92px;
    padding-top: 17px;
  }
}
