.features__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__container-item--media {
  position: relative;
  width: 48.7179487179%;
}

.features__title {
  color: rgb(36, 47, 81);
  line-height: 1.278;
  padding-bottom: 35px;
}

.features__subtitle {
  color: rgb(97, 99, 104);
  line-height: 1.625;
  padding-bottom: 92px;
  padding-top: 17px;
}

.features__item {
  display: flex;
  align-items: center;
}

.features__item:not(:last-of-type) {
  padding-bottom: 55px;
}

.features__item:nth-of-type(1) h3 {
  color: rgb(245, 87, 103);
}

.features__item:nth-of-type(2) h3 {
  color: rgb(37, 99, 255);
}

.features__item:nth-of-type(3) h3 {
  color: rgb(64, 151, 95);
}

.features__item p {
  color: rgb(97, 99, 104);
  line-height: 1.625;
  margin-top: 14px;
}

.features__item h3 {
  font-weight: bold;
  line-height: 1;
}

.features__item img {
  padding-right: 34px;
}

.features__content {
  max-width: 430px;
}

.features__img {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.features__img img {
  max-width: none;
}

.features {
  padding-top: 217px;
  padding-bottom: 200px;
}