.footer {
  padding-top: 119px;
  background-color: rgb(9, 20, 46);
}

.footer__container-logo {
  padding-bottom: 38px;
}

.footer__nav-list {
  color: rgb(255, 255, 255);
  padding-bottom: 38px;
}

.footer__copyright {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.212);
  line-height: 1.6;
  padding-top: 74px;
}

.footer__media-list {
  display: flex;
  justify-content: center;
  margin-right: -12px;
  margin-left: -12px;
}

.footer__media-list-item a {
  display: block;
  padding-right: 12px;
  padding-left: 12px;
}

.footer__media-list-item a svg {
  height: 28px;
  width: 28px;
  fill: rgb(39, 48, 67);
}

.footer__nav-list-item a:active svg {
  fill: rgb(39, 48, 67);
}

.footer__media-list-item a:hover svg {
  fill: #fff;
}

@media screen and (max-width: 560px) {
  .footer__nav-list,
  .footer__copyright {
    text-align: center;
  }

  .footer__nav-list {
    margin-top: -18px;
    margin-bottom: -12px;
  }

  .footer__nav-list-item {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 560px) {
  .footer {
    overflow: hidden;
  }

  .footer__nav-list {
    display: flex;
    justify-content: center;
    margin-left: -18px;
    margin-right: -18px;
  }

  .footer__nav-list-item {
    padding-left: 18px;
    padding-right: 18px;
  }

  .footer__copyright {
    display: flex;
    justify-content: center;
  }
}
