.reasons__title {
  color: rgb(36, 47, 81);
  font-weight: bold;
  line-height: 1.278;
}

.reasons__subtitle {
  font-size: 16px;
  color: rgb(97, 99, 104);
  line-height: 1.625;
}

.reasons__item {
  text-align: center;
}

.reasons__item h3 {
  font-size: 20px;
  color: rgb(36, 47, 81);
  font-weight: bold;
  line-height: 1.2;
}

.reasons__item p {
  font-size: 16px;
  color: rgb(97, 99, 104);
  line-height: 1.625;
}

.reasons__title,
.reasons__subtitle {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .reasons {
    padding-top: 150px;
  }

  .reasons__item {
    margin-bottom: 40px;
  }

  .reasons__title {
    padding-bottom: 40px;
    font-size: 28px;
  }

  .reasons__subtitle {
    padding-bottom: 75px;
  }

  .reasons__item h3 {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .reasons {
    padding-top: 150px;
  }

  .reasons__list {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }

  .reasons__title {
    padding-bottom: 40px;
  }

  .reasons__subtitle {
    padding-bottom: 60px;
  }

  .reasons__item {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 80px;
  }  

  .reasons__item h3 {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .reasons__list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 992px) {
  .reasons {
    padding: 208px 100px 0;
  }

  .reasons__title {
    font-size: 36px;
    padding-bottom: 34px;
    max-width: 450px;
  }

  .reasons__subtitle {
    max-width: 630px;
  }

  .reasons__item h3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .reasons__list {
    padding-top: 31px;
  }

  .reasons__item {
    width: 33.3%;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 69px;
  }
}
